/**
 * custom.scss
 *
 * This file left blank intentionally. Implementations of Open SDG can use
 * a similarly named file for custom styles.
 */

 //---status summary---start------------------------
.frameStatus {
    width: 20%;
    float: left;
    min-height: 1px;
}
@media screen and (max-width: 25em) {
  .frameStatus {
      display: none;
  }
}

.tableresp {
  width: 80%;
  align: right;
  float: right;
}

@media screen and (max-width: 25em) {
  .tableresp {
    width: 100%;
    align: left;
    float: left;
  }
}



.responsiveWeather{
  width: 100%;
  max-width: 60px;
  min-width: 15px;
  padding-left: 0px;
  padding-right: 0px;
  height: auto;
  border: transparent;
}


.responsiveText{
  font-size: 1.0em;//0.8vw;
}

@media screen and (max-width: 75em) {
  .responsiveText {
    font-size: 0.8em;//1.0vw;
  }
}
@media screen and (max-width: 50em) {
  .responsiveText {
    font-size: 0.6em;//1.2vw;
  }
}

@media screen and (max-width: 50em) {
  .tableresp{
    border-collapse: collapse;
  }
}
//---status summary---stop------------------------

 //---edit head Banner
 $goal-colors : #E52B3D #DDA63A #4C9F38 #C42130 #FF3E24 #28BCE1 #FCC30B #A21942 #FD6925 #DD1367 #FD9C27 #BF8B2E #417D46 #0A96D8 #57BE2F #00689C #1F4A6A;
 @for $i from 1 through length($goal-colors) {
   $c: nth($goal-colors, $i);
   $dark-c: darken($c, 10%);
   .goal-#{$i} {
     &.heading {
       background-color: white;//$c;
       border-bottom: 15px solid $c;
       border-top: 15px solid $c;//$dark-c;
     }
     &.underline{
       height: 5px;
       border-top: 5px solid $dark-c;
     }
     &.titles{
       color: $dark-c;
     }
     &.heading.contrast-high {
         background: black;
         a {
           color: yellow;
         }
     }
     &.goal-indicators {
       div {
         span {
           border-color: $dark-c;
           color: $dark-c;
         }
       }
     }
   }
   .goal-tiles #goal-#{$i} {
     &:hover {
       background-color: $c;
     }
   }
 }



/*#2.1 Navigation Buttond */
 @for $i from 1 through length($goal-banner-backgroundColors) {
   $background-c: nth($goal-banner-backgroundColors, $i);
   .goal-#{$i} {
     &.goal-banner {
       background-color: white,//$background-c;
     }
     &.sup-goal-banner {
       height: 5px;
       background-color: lighten($background-c,10%);
       padding-top: 0px;
       padding-bottom: 0px;
     }
     &.sub-goal-banner {
       height: 5px;
       background-color: darken($background-c,10%);
       padding-top: 0px;
       padding-bottom: 0px;
     }
     &.navigation-btn {
       background-color: $background-c;
       color: white;
       height: 36px;
       border-color: transparent;
       margin-bottom: 10px;
       margin-top: 10px;
       padding-top: 6px;
       padding-bottom: 6px;
     }
     &.navigation-btn:hover {
       background-color: darken($background-c,10%);
     }
   }
 }

 .goal-banner {
   h1, p {
     color: $goal-banner-color;
     @media only screen and (max-width: 600px) {
       font-size:4vw;
     }
     @media only screen and (max-width: 500px) {
       font-size:5vw;
     }
     @media only screen and (max-width: 400px) {
       font-size:6vw;
     }
     @media only screen and (max-width: 300px) {
       font-size:7vw;
     }

   }
 }
/*#2.1*/

body{
  background: $backgroundColor;
  padding-top: 15px;
}

//---#2 TimeSeriesNameDisplayedInMaps---start--------------------------------------------------------------
#mapHead {
  display: block;
  font-size: 1.0em;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  padding-left: 10px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
//---#2 TimeSeriesNameDisplayedInMaps---stop---------------------------------------------------------------

.responsiveImg {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.responsiveSubtitle{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// labels on reporting status page
.status {
  display: inline-block;
  //margin-right: 3px;
  //padding: 2px 5px;
  border-radius: 3px;

  //width: 40px;
  //text-align: center;
  //font-size: 16px;
}



.breadcrumb{
  padding-top: 20px;
  padding-bottom: 10px;
}


//---delete when open-sdg PR 1016 is merged---
.btn-group.menu-dropdown {
  .dropdown-toggle {
    margin: 0 0 2px 15px;
    padding: 2px;
    border: none;
    border-radius: 0;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    color: $menu-link-color;
    &:hover {
      background: none;
      border-bottom: 2px solid $menu-link-borderBottomColor-hover;
    }
  }
  .dropdown-menu {
    border-radius: 0;
    margin-left: 15px;
    a {
      color: $menu-link-color;
    }
    .active {
      a {
        background: none;
        color: $menu-link-color;
        &:hover {
          background: $menu-dropdownLink-backgroundColor-hover;
        }
      }
    }
  }
}


body.contrast-high {
  .navbar {
    #menu, #menu-mobile {
      li {
        a {
          color: $color-light-highContrast;
          &:hover, &:focus {
            color: $color-highlight-highContrast;
          }
        }
      }
      li.active {
        a {
          color: $color-highlight-highContrast;
          border-color: $color-highlight-highContrast;
          &:hover {
            color: $color-highlight-highContrast;
          }
          &:focus {
            color: $color-highlight-highContrast;
          }
        }
      }
    }
    #menu-mobile {
      li {
        a {
          background-color: $color-dark-highContrast;
        }
      }
    }
    #search, #search-mobile {
      input, button {
        color: $color-dark-highContrast;
      }
    }
    .top-level {
      > li.active {
        button {
          color: $color-dark-highContrast;
        }
      }
    }

    #menu {
      .btn-group.menu-dropdown {
        .dropdown-toggle {
          color: $color-light-highContrast !important;
          background: $color-dark-highContrast !important;
          &:hover {
            color: $color-highlight-highContrast !important;
          }
          &:focus {
            background: $focusBackgroundColor-highContrast !important;
            color: $focusColor-highContrast !important;
          }
        }
        .dropdown-menu {
          li {
            a {
              color: $color-dark-highContrast;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
//---
