{%- assign indicators_plural = page.t.general.indicators | downcase -%}

{%- for goalreport in include.goals -%}
  {%- assign goal_number = goalreport.goal -%} <!--7-->
  {%- assign goal_short_key = goal_number | append: '-short' -%} <!--7-short-->
  {%- assign goal_short = t.global_goals[goal_short_key] -%} <!--Bezahlbare und saubere Energie-->

  {%- assign goal = goalreport.goal | strip | sdg_lookup -%}
  <div class="goal reporting-status-item">
    <div class="frame goal-tiles">
        <a href="{{ goal.url }}">
        <img src="{{ goal.icon }}" alt="{{ goal.short | escape }} - {{ page.t.general.goal }} {{ goal.number }}" width="100" height="100" class="goal-icon-{{ goal.number }} goal-icon-image goal-icon-image-{{ site.goal_image_extension }}"/>
        </a>
    </div>
    <div class="details">
        <h3 class="status-goal">
            <a href="{{ goal.url }}">{{ goal.short }}</a>
        </h3>
        <div class="divider"></div>
    </div>

    {% assign goal_indicators = page.indicators | where: 'goal_number', goal.number | group_by: 'target_id' %}
    {%- for group in goal_indicators -%}
      {%- assign target_id = group.name -%}
      <h5> {{ target_id }}</h5>
      {% for indicator in group.items %}
        {% for single_indicator in (1..3) %}
          {% assign weather_active_key = "weather_active_" | append: single_indicator %} <!--weather_active_2-->
          {% assign single_indicator_key = "indicator_" | append: single_indicator %}  <!--indicator_2-->
          {% assign idc_sort_order = indicator["indicator_sort_order"] %} <!--7-1-ab-->
          {% assign letters = "i,h,g,f,e,d,c,b,a" | split: ',' %}
          {% assign additional_cells = letters.size %}
          {% if indicator[weather_active_key] == true %}
            {% assign indicator_key = idc_sort_order | append: "_" | append: single_indicator %} <!--7-1-ab_2-->
            <!--Check for multiple targets-->
            {% assign target_key = single_indicator_key | append: "_target" %}  <!--indicator_2_target-->
            {% assign target_year_key = target_key | append: "_year" %} <!--indicator_2_target_year-->

            {% if indicator[target_key] %}
              {% assign target_trans = 'single_target' %}
            {% else %}
              {% assign target_trans = 'multi_target' %}
            {% endif %}
            <table class="table table-hover tableresp">

              <!-- INDICATOR !!!!!!!!!!!!!!!!-->
              <tr>
                <th width="10%"> <div class=responsiveText>{{ t.weather.indicator }}</div> </th>
                <th colspan="9"> <a href=" {{ site.baseurl }}{{ baseurl_folder }}/{{ idc_sort_order }}/ "><div class=responsiveText>{{ indicator[single_indicator_key] }}</div></a> </th>
              </tr>
              <!-- !!!!!!!!!!!!!!!!-->
            </table>
          {% endif %}
        {% endfor %}  
      {% endfor %}
    {%- endfor -%}

    <br style="clear:both;">
  </div> <!--class="goal"-->
{%- endfor -%} <!--for goalreport in site.data.reporting.goals-->

{% include footer.html %}
