{% include head.html %}
{% include header.html %}

{% assign reporting_data = site.data.reporting %}
{% if site.data[page.language].reporting %}
  {% assign reporting_data = site.data[page.language].reporting %}
{% endif %}

{% assign goals = reporting_data.goals %}
<script>
  console.log({{ goals}});
</script>

<div id="main-content" class="container reportingstatus" role="main">

  <h1>{{ page.t.summary.status_summary }}</h1>

  {%- for goalreport in goals -%}
    {%- assign goal = goalreport.goal | downcase | sdg_lookup -%}
    {%- assign goal_number = goal.number -%}

    <div class="goal reporting-status-item">
      <div class="frame goal-tiles">
        <a href="{{ goal.url }}">
          <img src="{{ goal.icon }}" alt="{{ goal.short | escape }} - {{ page.t.general.goal }} {{ goal.number }}" width="100" height="100" class="goal-icon-{{ goal.number }} goal-icon-image goal-icon-image-{{ site.goal_image_extension }}"/>
        </a>
      </div>
      <div class="details">
        <h3 class="status-goal">
          <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ goal_number }}/"><span class="visible-xs">{{ t.general.goal }} {{ goal_number}} - <span>{{ goal_short }}</a>
        </h3>
        {% assign goal_indicators = site.data.meta | where: 'sdg_goal', goal_number | sort: 'indicator_sort_order' | group_by: 'target_id' %}
      </div>

      
    </div>
  {%- endfor -%}
</div>
{% include footer.html %}
