<!--
{% include head.html %}
{% include header.html %}

{% assign reporting_data = site.data.reporting %}
{% if site.data[page.language].reporting %}
  {% assign reporting_data = site.data[page.language].reporting %}
{% endif %}

{% assign disagg_data = site.data.disaggregation %}
{% if site.data[page.language].disaggregation %}
  {% assign disagg_data = site.data[page.language].disaggregation %}
{% endif %}

{%- assign extra_fields = false -%}
{%- for extra_field in reporting_data.extra_fields -%}
  {%- assign extra_fields = true -%}
{%- endfor -%}

{% assign show_tabs = false %}
{% if extra_fields %}
  {% assign show_tabs = true %}
{% elsif site.reporting_status.disaggregation_tabs and disagg_data %}
  {% assign show_tabs = true %}
{% endif %}

<div id="main-content" class="container reportingstatus" role="main">

  {% include components/reporting-status-introduction.html %}

  {% if show_tabs %}
  <ul class="nav nav-tabs reporting-status-view" role="tablist">
    <li role="presentation" class="nav-item active">
      <a class="nav-link" data-toggle="tab" href="#goalsview" aria-controls="goals" role="tab" {% include autotrack.html preset="tab_reporting_status_goals" category="Tab change" action="Change reporting status view" label="Change reporting status view to goals" %}>{{ page.t.status.reporting_status }}</a>
    </li>
    {% if extra_fields %}
      {% for extra_field in reporting_data.extra_fields %}
      {% assign extra_field_name = extra_field[0] %}
      {% assign extra_field_translated = extra_field_name | translate_metadata_field %}
      {% assign extra_field_autotrack = 'Change reporting status view to ' | append: extra_field_name %}
      <li role="presentation" class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#{{ extra_field_name }}view" aria-controls="{{ extra_field_name }}" role="tab" {% include autotrack.html preset="tab_reporting_status_extra_field" category="Tab change" action="Change reporting status view" label=extra_field_autotrack %}>{{ page.t.status.status_by_field | replace: "%field", extra_field_translated }}</a>
      </li>
      {% endfor %}
    {% endif %}

    {% if site.reporting_status.disaggregation_tabs %}
      <li role="presentation" class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#disaggregationsview" aria-controls="disaggregations" role="tab" {% include autotrack.html preset="tab_reporting_status_disaggregations" category="Tab change" action="Change reporting status view" label="Change reporting status view to disaggregations" %}>{{ page.t.status.disaggregation_status }}</a>
      </li>
      {% if extra_fields %}
        {% for extra_field in reporting_data.extra_fields %}
        {% assign extra_field_name = extra_field[0] %}
        {% assign extra_field_translated = extra_field_name | translate_metadata_field %}
        {% assign extra_field_autotrack = 'Change disaggregation status view to ' | append: extra_field_name %}
        <li role="presentation" class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#{{ extra_field_name }}-disaggregationsview" aria-controls="{{ extra_field_name }}-disaggregations" role="tab" {% include autotrack.html preset="tab_disaggregation_status_extra_field" category="Tab change" action="Change disaggregation status view" label=extra_field_autotrack %}>{{ page.t.status.disaggregation_status_by_field | replace: "%field", extra_field_translated }}</a>
        </li>
        {% endfor %}
      {% endif %}

    {% endif %}
  </ul>
  {% endif %}

  {% if show_tabs %}
  <div class="tab-content reporting-status-view">
    <div role="tabpanel" class="tab-pane active" id="goalsview">
  {% endif %}
  {% include components/reportingstatus/reporting-status-overall.html overall=reporting_data.overall title=page.t.status.overall_reporting_status %}
  {% include components/reportingstatus/reporting-status-by-goal.html goals=reporting_data.goals title=page.t.status.status_by_goal %}
  {% if show_tabs %}
    </div>
  {% endif %}

  {% if extra_fields %}
    {%- for extra_field in reporting_data.extra_fields -%}
    {% assign extra_field_name = extra_field[0] %}
    <div role="tabpanel" class="tab-pane" id="{{ extra_field_name }}view" data-extra-field="true">
      {% include components/reportingstatus/reporting-status-overall.html overall=reporting_data.overall title=page.t.status.overall_reporting_status %}
      {% include components/reportingstatus/reporting-status-by-field.html extra_field=extra_field title=page.t.status.status_by_field %}
    </div>
    {%- endfor -%}
  {% endif %}

  {% if site.reporting_status.disaggregation_tabs and disagg_data %}
    <div role="tabpanel" class="tab-pane" id="disaggregationsview">
      {% include components/reportingstatus/reporting-status-overall.html overall=disagg_data.overall title=page.t.status.disaggregation_status_overall %}
      {% include components/reportingstatus/reporting-status-by-goal.html goals=disagg_data.goals title=page.t.status.status_by_goal %}
    </div>

    {% if extra_fields %}
      {%- for extra_field in disagg_data.extra_fields -%}
      {% assign extra_field_name = extra_field[0] %}
      <div role="tabpanel" class="tab-pane" id="{{ extra_field_name }}-disaggregationsview" data-extra-field="true">
        {% include components/reportingstatus/reporting-status-overall.html overall=disagg_data.overall title=page.t.status.disaggregation_status_overall %}
        {% include components/reportingstatus/reporting-status-by-field.html extra_field=extra_field title=page.t.status.disaggregation_status_by_field %}
      </div>
      {%- endfor -%}
    {% endif %}
  {% endif %}

  {% if show_tabs %}
  </div>
  {% endif %}

  <!--{{ content }}

</div>
{% include footer.html %}

-->


{% include head.html %}
{% include header.html %}

<div id="main-content" class="container reportingstatus" role="main">

  <h1>Test!!</h1>

  {%- for goalreport in site.data.reporting.goals -%}
    {%- assign goal_number = goalreport.goal -%}
    {%- assign goal_short_key = goal_number | append: '-short' -%}
    {%- assign goal_short = page.t.global_goals[goal_short_key] -%}
    <div class="goal">
        <div class="frameStatus">
          <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ goal_number }}/">
            <img src="{{ site.goal_image_base }}/{{ current_language }}/{{ goal_number }}.png" alt="{{ goal_short }} - {{ page.t.general.goal }} {{ goal_number }}" width="95%" min-height="60px"/>
          </a>
        </div>
        <div>
          <h3 class="status-goal">
            <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ goal_number }}/"><span class="visible-xs">{{ page.t.general.goal }} {{ goal_number}} - <span>{{ goal_short }}</a>

          </h3>
          {% assign goal_indicators = site.data.meta | where: 'sdg_goal', goal_number | sort: 'indicator_sort_order' | group_by: 'target_id' %}
            {% for group in goal_indicators %}
              {% for indicator in group.items %}
                {% for i in (1..3) %}
                  {% assign hty_active = "history_active_" | append: i %}
                  {% assign hty_indicator = "history_indicator_" | append: i %}
                  {% assign idc_sort_order = indicator["indicator_sort_order"] %}
                  {% if indicator[hty_active] == true %}

                    {% assign indicator_key = idc_sort_order | append: "_" | append: i %}
                    {% assign target_key = indicator_key | append: "_target" %}
                    <table class="table table-hover tableresp">

                      <tr>
                        <th width="10%"> <div class=responsiveText>{{ page.t.summary.indicator }}</div> </th>
                        <th colspan="9"> <a href=" {{ site.baseurl }}{{ baseurl_folder }}/{{ idc_sort_order }}/ "><div class=responsiveText>{{ page.t.summary[indicator_key] }}</div></a> </th>
                      </tr>
                      <tr>
                        <th> <div class=responsiveText>{{ page.t.summary.target }} </div></th>
                        {% assign target = "history_target_" | append: i %}
                        <td colspan="9"> <div class=responsiveText>{{ page.t.summary[target_key] }}</div> </td>

                      </tr>

                      <tr>
                        <th> <div class=responsiveText>{{ page.t.summary.year }}</div> </th>
                        {% assign letters = "i,h,g,f,e,d,c,b,a" | split: ',' %}
                        {% assign add = letters.size %}
                        {% for j in letters %}
                          {% assign year = "history_year_" | append: j | append: "_" | append: i %}
                          {% if indicator[year] %}
                            {% if j == 'i' or j == 'h' or j == 'g' or j == 'f' or j == 'e' %}
                              <td width="10%" align="center" class="hidden-xs"> <p><span class="responsiveText hidden-xs">{{ indicator[year] }}</span></p> </td>
                            {% else %}
                              <td width="10%" align="center"> <p><span class="responsiveText">{{ indicator[year] }}</span></p> </td>
                            {% endif %}

                            {% assign add = add | minus: 1 %}
                          {% endif %}
                        {% endfor %}

                        {% if add == letters.size %}
                          {% assign add = add | minus: 1 %}
                        {% endif %}

                        {% for k in (1..add) %}
                          {% if k > 5 %}
                            <td width="10%" align="center"> </td>
                          {% else %}
                            <td width="10%" align="center" class="hidden-xs"> </td>
                          {% endif %}
                        {% endfor %}
                      </tr>

                      <tr>
                        <th> <div class=responsiveText>{{ page.t.summary.status }}</div> </th>
                        {% for j in letters %}
                          {% assign status = "history_status_year_" | append: j | append: "_" | append: i %}
                          {% if indicator[status] %}

                            {% if indicator[status] == 'x' %}
                              {% assign status_title = t.status['nebel'] %}
                            {% elsif indicator[status] == 'Sonne' %}
                              {% assign status_title = t.status['sonne'] %}
                            {% elsif indicator[status] == 'Leicht bewölkt' %}
                              {% assign status_title = t.status['leicht bewölkt'] %}
                            {% elsif indicator[status] == 'Wolke' %}
                              {% assign status_title = t.status['wolke'] %}
                            {% elsif indicator[status] == 'Blitz' %}
                              {% assign status_title = t.status['blitz'] %}
                            {% endif %}

                            {% if j == 'i' or j == 'h' or j == 'g' or j == 'f' or j == 'e' %}
                              <td width="10%" align="center" class="hidden-xs"> <a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/{{ current_language }}/{{ indicator[status] }}.png" alt="{{ indicator[status] }}" class="responsiveWeather hidden-xs" title="{{ status_title }}"/></a> </td>
                            {% else %}
                              <td width="10%" align="center"> <a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/{{ current_language }}/{{ indicator[status] }}.png" alt="{{ indicator[status] }}" class="responsiveWeather" title="{{ status_title }}"/></a> </td>
                            {% endif %}
                          {% elsif j == 'a' %}
                              <td width="10%" align="center"><p><span class="responsiveText">Keine Bewertung möglich</span></p></td>
                          {% endif %}
                        {% endfor %}
                        {% for k in (1..add) %}
                          {% if k > 5 %}
                            <td width="10%" align="center"></td>
                          {% else %}
                            <td width="10%" align="center"class="hidden-xs"></td>
                          {% endif %}
                        {% endfor %}
                      </tr>
                      <tr> <td colspan="10"> &nbsp; </td> </tr>
                    </table>

                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endfor %}

          <div class="divider">
          </div>
        </div>
      <br style="clear:both;">
    </div>
  {%- endfor -%}



</div>
{% include footer.html %}
