{% include head.html %}
{% include header.html %}

<div id="main-content" class="container reportingstatus">

  <h1>{{ t.summary.status_summary }}</h1>

  {%- for goalreport in site.data.reporting.goals -%}
    {%- assign goal_number = goalreport.goal -%}
    {%- assign goal_short_key = goal_number | append: '-short' -%}
    {%- assign goal_short = t.global_goals[goal_short_key] -%}
    <div class="goal">
      <div class="frameStatus">
        <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ goal_number }}/">
          <img src="{{ site.goal_image_base }}/{{ current_language }}/{{ goal_number }}.png" alt="{{ goal_short }} - {{ t.general.goal }} {{ goal_number }}" width="95%" min-height="60px"/>
        </a>
      </div>
      <div>
          <h3 class="status-goal">
            <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ goal_number }}/"><span class="visible-xs">{{ t.general.goal }} {{ goal_number}} - <span>{{ goal_short }}</a>
          </h3>
      </div>
    </div>
  {%- endfor -%}
</div>
{% include footer.html %}
