{% include head.html %}
{% include header.html %}

<div id="main-content" class="container reportingstatus" role="main">

  <h2>{{ include.title }}</h2>
  {%- for goalreport in include.goals -%}
  {%- assign goal = goalreport.goal | strip | sdg_lookup -%}
  <div class="goal reporting-status-item">
      <div class="frame goal-tiles">
          <a href="{{ goal.url }}">
          <img src="{{ goal.icon }}" alt="{{ goal.short | escape }} - {{ page.t.general.goal }} {{ goal.number }}" width="100" height="100" class="goal-icon-{{ goal.number }} goal-icon-image goal-icon-image-{{ site.goal_image_extension }}"/>
          </a>
      </div>
      <div class="details">
          <h3 class="status-goal">
              <a href="{{ goal.url }}">{{ goal.short }}</a>
          </h3>
          <span class="total">{{ goalreport.totals.total }} {{ indicators_plural }}</span>
          <div class="summary">
              <div class="statuses">
                  {%- for status_type in status_types -%}
                  {% assign status_stats = goalreport.statuses | where: "status", status_type.value | first %}
                  {% if status_stats %}
                  <div>
                      <span class="status {{ status_type.value | slugify }}"><span class="status-inner">{{ status_stats.count }}</span></span><strong>{{ status_type.label | t }}</strong><span class="value">{{ status_stats.percentage | round }}%</span>
                  </div>
                  {% endif %}
                  {%- endfor -%}
                  <br style="clear:both;">
              </div>
          </div>
          <div class="goal-stats">
              {%- for status_type in status_types -%}
                  {% assign status_stats = goalreport.statuses | where: "status", status_type.value | first %}
                  {% if status_stats %}
                  {% assign status_count_precise = status_stats.count | times: 1.0 %}
                  {% assign goalreport_total_precise = goalreport.totals.total  | times: 1.0 %}
                  {% assign percentage_precise = status_count_precise | divided_by: goalreport_total_precise | times: 100 %}
                  <span class="{{ status_type.value | slugify }}" style="width:{{ percentage_precise }}%" title="{{ status_type.label | t }}: {{ status_stats.percentage | round }}%"></span>
                  {% endif %}
              {%- endfor -%}
          </div>
          <div class="divider"></div>
      </div>
      <br style="clear:both;">
  </div>
  {%- endfor -%}





  <h1>{{ page.t.summary.status_summary }}</h1>

  {%- for goalreport in site.data.reporting.goals -%}
    {%- assign goal_number = goalreport.goal -%} <!--7-->
    {%- assign goal_short_key = goal_number | append: '-short' -%} <!--7-short-->
    {%- assign goal_short = t.global_goals[goal_short_key] -%} <!--Bezahlbare und saubere Energie-->
    <div class="goal">
      <div class="frameStatus">
        <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ goal_number }}/">
          <img src="{{ site.goal_image_base }}/{{ data[page.language] }}/{{ goal_number }}.png" alt="{{ goal_short }} - {{ page.t.general.goal }} {{ goal_number }}" width="95%" min-height="60px"/>
        </a>
      </div>
      <div>
        <h3 class="status-goal">
          <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ goal_number }}/"><span class="visible-xs">{{ page.t.summary.goal }} {{ goal_number}} - <span>{{ goal_short }}</a>
        </h3>
        {% assign goal_indicators = site.data.meta | where: 'sdg_goal', goal_number | group_by: 'target_id' %} <!--| sort: 'indicator_sort_order'-->
        {% for group in goal_indicators %}
          {% for indicator in group.items %}
            {% for single_indicator in (1..3) %}

              {% assign weather_active_key = "weather_active_" | append: single_indicator %} <!--weather_active_2-->
              {% assign single_indicator_key = "indicator_" | append: single_indicator %}  <!--indicator_2-->
              {% assign idc_sort_order = indicator["indicator_sort_order"] %} <!--7-1-ab-->
              {% assign letters = "i,h,g,f,e,d,c,b,a" | split: ',' %}
              {% assign additional_cells = letters.size %}
              {% if indicator[weather_active_key] == true %}

                {% assign indicator_key = idc_sort_order | append: "_" | append: single_indicator %} <!--7-1-ab_2-->

                <!--Check for multiple targets-->
                {% assign target_key = single_indicator_key | append: "_target" %}  <!--indicator_2_target-->
                {% assign target_year_key = target_key | append: "_year" %} <!--indicator_2_target_year-->

                {% if indicator[target_key] %}
                  {% assign target_trans = 'single_target' %}
                {% else %}
                  {% assign target_trans = 'multi_target' %}
                {% endif %}

                <table class="table table-hover tableresp">

                  <!-- INDICATOR !!!!!!!!!!!!!!!!-->
                  <tr>
                    <th width="10%"> <div class=responsiveText>{{ t.weather.indicator }}</div> </th>
                    <th colspan="9"> <a href=" {{ site.baseurl }}{{ baseurl_folder }}/{{ idc_sort_order }}/ "><div class=responsiveText>{{ indicator[single_indicator_key] }}</div></a> </th>
                  </tr>
                  <!-- !!!!!!!!!!!!!!!!-->

                  {% if target_trans == 'single_target' %}

                    <!--Check for old targets-->
                    {% assign old_target_key = target_key | append: '_old' %} <!--indicator_1_target_old-->
                    {% if indicator[old_target_key] %}
                      {% assign cases = '_old,_new' | split: ',' %}
                    {% else %}
                      {% assign cases = '' | split: ',' %}
                    {% endif %}

                    {% for case in cases %}
                      {% assign target_trans = target_trans | append: case %} <!--single_target_old-->
                      {% assign target_key = target_key | append: case %} <!--indicator_1_target_old-->
                      <!-- TARGET !!!!!!!!!!!!!!!!-->
                      <tr>
                        <th> <div class=responsiveText>{{ t.weather.target_trans }}</div></th>
                        <td colspan="9"> <div class=responsiveText>{{ indicator[target_key] }}</div> </td>
                      </tr>
                      <!-- !!!!!!!!!!!!!!!!-->
                      <!-- YEAR !!!!!!!!!!!!!!!!-->
                      <tr>
                        <th> <div class=responsiveText>{{ t.general.year }}</div> </th>
                        {% for letter in letters %}
                          {% assign year_key = target_key | append:'_year_' | append: letter %}
                          {% if indicator[year_key] %}
                            {% if letter == 'i' or letter == 'h' or letter == 'g' or letter == 'f' or letter == 'e' %}
                              <td width="10%" align="center" class="hidden-xs"> <p><span class="responsiveText hidden-xs">{{ indicator[year_key] }}</span></p> </td>
                            {% else %}
                              <td width="10%" align="center"> <p><span class="responsiveText">{{ indicator[year_key] }}</span></p> </td>
                            {% endif %}

                            {% assign additional_cells = additional_cells | minus: 1 %}
                          {% endif %}
                        {% endfor %}
                        {% if additional_cells == letters.size %}
                          {% assign add = add | minus: 1 %}
                        {% endif %}

                        <!--add empty cells-->
                        {% for empty_cell in (1..additional_cells) %}
                          {% if empty_cell > 5 %}
                            <td width="10%" align="center"> </td>
                          {% else %}
                            <td width="10%" align="center" class="hidden-xs"> </td>
                          {% endif %}
                        {% endfor %}
                      </tr>
                      <!-- !!!!!!!!!!!!!!!!-->
                      <!-- ITEM !!!!!!!!!!!!!!!!-->
                      <tr>
                        <th> <div class=responsiveText>{{ t.general.status }}</div> </th>
                        {% for letter in letters %}
                          {% assign item_key = target_key | append:'_item_' | append: letter %}
                          {% if indicator[item_key] %}

                            {% if indicator[item_key] == 'Sonne' %}
                              {% assign status = t.weather['sonne'] %}
                            {% elsif indicator[item_key] == 'Leicht bewölkt' %}
                              {% assign status = t.weather['leicht bewölkt'] %}
                            {% elsif indicator[item_key] == 'Wolke' %}
                              {% assign status = t.weather['wolke'] %}
                            {% elsif indicator[item_key] == 'Blitz' %}
                              {% assign status = t.weather['blitz'] %}
                            {% endif %}

                            {% if letter == 'i' or letter == 'h' or letter == 'g' or letter == 'f' or letter == 'e' %}
                              <td width="10%" align="center" class="hidden-xs"> <a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/{{ current_language }}/{{ indicator[item_key] }}.png" alt="{{ status }}" class="responsiveWeather hidden-xs" title="{{ status }}"/></a> </td>
                            {% else %}
                              <td width="10%" align="center"> <a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/{{ current_language }}/{{ indicator[item_key] }}.png" alt="{{ indicator[item_key] }}" class="responsiveWeather" title="{{ status }}"/></a> </td>
                            {% endif %}
                          {% elsif j == 'a' %}
                              <td width="10%" align="center"><p><span class="responsiveText">{{ t.weather.no_assessment }}</span></p></td>
                          {% endif %}
                        {% endfor %}

                        <!--add empty cells-->
                        {% for empty_cell in (1..additional_cells) %}
                          {% if empty_cell > 5 %}
                            <td width="10%" align="center"></td>
                          {% else %}
                            <td width="10%" align="center"class="hidden-xs"></td>
                          {% endif %}
                        {% endfor %}
                      </tr>
                      <!-- !!!!!!!!!!!!!!!!-->
                    {% endfor %} <!--for case in cases-->

                  {% elsif target_trans == 'multi_target' %}
                    {% for multi_target in (1..3) %}
                      {% assign target_trans = target_trans | append: '_' | append: multi_target %} <!--multi_target_3-->
                      {% assign target_year_1_key = target_key | append: '_1_year' %} <!--indicator_2_target_1_year-->
                      {% assign target_key = target_key | append: '_' | append: multi_target %}  <!--indicator_2_target_3-->


                      <!--Check for old targets-->
                      {% assign old_target_key = target_key | append: '_old' %} <!--indicator_2_target_3_old-->
                      {% if indicator[old_target_key] %}
                        {% assign cases = '_old,_new' | split: ',' %}
                      {% else %}
                        {% assign cases = '' | split: ',' %}
                      {% endif %}

                      {% for case in ceses %}
                        {% assign target_trans = target_trans | append: case %} <!--multi_target_3_old-->
                        {% assign target_key = target_key | append: case %} <!--indicator_1_target_old-->
                        <!-- TARGET !!!!!!!!!!!!!!!!-->
                        <tr>
                          <th> <div class=responsiveText>{{ t.weather.target_trans }}</div></th>
                          <td colspan="9"> <div class=responsiveText>{{ indicator[target_key] }}</div> </td>
                        </tr>
                        <!-- !!!!!!!!!!!!!!!!-->
                        <!-- YEAR !!!!!!!!!!!!!!!!-->
                        <tr>
                          <th> <div class=responsiveText>{{ t.general.year }}</div> </th>
                          {% for letter in letters %}
                            {% assign year_key = target_key | append:'_year_' | append: letter %}
                            {% if indicator[year_key] %}
                              <!--check if year is valid or not-->
                              {% if multi_target > 1 and indicator[year_key] > indicator[target_year_1_key] %}
                                {% assign opacity = ' style="opacity: 0.2"' %}
                              {% else %}
                                {% assign opacity = '' %}
                              {% endif %}

                              {% if letter == 'i' or letter == 'h' or letter == 'g' or letter == 'f' or letter == 'e' %}
                                <td width="10%" align="center" class="hidden-xs"> <p {{ opacity }}><span class="responsiveText hidden-xs">{{ indicator[year_key] }}</span></p> </td>
                              {% else %}
                                <td width="10%" align="center"> <p {{ opacity }}><span class="responsiveText">{{ indicator[year_key] }}</span></p> </td>
                              {% endif %}

                              {% assign additional_cells = additional_cells | minus: 1 %}
                            {% endif %}
                          {% endfor %}
                          {% if additional_cells == letters.size %}
                            {% assign add = add | minus: 1 %}
                          {% endif %}

                          <!--add empty cells-->
                          {% for empty_cell in (1..additional_cells) %}
                            {% if empty_cell > 5 %}
                              <td width="10%" align="center"> </td>
                            {% else %}
                              <td width="10%" align="center" class="hidden-xs"> </td>
                            {% endif %}
                          {% endfor %}
                        </tr>
                        <!-- !!!!!!!!!!!!!!!!-->
                        <!-- ITEM !!!!!!!!!!!!!!!!-->
                        <tr>
                          <th> <div class=responsiveText>{{ t.general.status }}</div> </th>
                          {% for letter in letters %}
                            {% assign item_key = target_key | append:'_item_' | append: letter %}
                            {% if indicator[item_key] %}

                              {% if indicator[item_key] == 'Sonne' %}
                                {% assign status = t.weather['sonne'] %}
                              {% elsif indicator[item_key] == 'Leicht bewölkt' %}
                                {% assign status = t.weather['leicht bewölkt'] %}
                              {% elsif indicator[item_key] == 'Wolke' %}
                                {% assign status = t.weather['wolke'] %}
                              {% elsif indicator[item_key] == 'Blitz' %}
                                {% assign status = t.weather['blitz'] %}
                              {% endif %}

                              {% if letter == 'i' or letter == 'h' or letter == 'g' or letter == 'f' or letter == 'e' %}
                                <td width="10%" align="center" class="hidden-xs"> <a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/{{ current_language }}/{{ indicator[item_key] }}.png" alt="{{ status }}" class="responsiveWeather hidden-xs" title="{{ status }}" {{ opacity }}/></a> </td>
                              {% else %}
                                <td width="10%" align="center"> <a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/{{ current_language }}/{{ indicator[item_key] }}.png" alt="{{ indicator[item_key] }}" class="responsiveWeather" title="{{ status }}" {{ opacity }}/></a> </td>
                              {% endif %}
                            {% elsif j == 'a' %}
                                <td width="10%" align="center"><p><span class="responsiveText">{{ t.weather.no_assessment }}</span></p></td>
                            {% endif %}
                          {% endfor %}

                          <!--add empty cells-->
                          {% for empty_cell in (1..additional_cells) %}
                            {% if empty_cell > 5 %}
                              <td width="10%" align="center"></td>
                            {% else %}
                              <td width="10%" align="center"class="hidden-xs"></td>
                            {% endif %}
                          {% endfor %}
                        </tr>
                        <!-- !!!!!!!!!!!!!!!!-->
                      {% endfor %} <!--case-->
                    {% endfor %} <!--multi_target-->
                  {% endif %} <!-- target_trans == 'single_target' -->
                </table>
              {% endif %} <!--if indicator[weather_active_key] == true-->
            {% endfor %}  <!--for single_indicator in (1..3)-->
          {% endfor %}  <!--for indicator in group.items-->
        {% endfor %}  <!--for group in goal_indicators-->
        <div class="divider">
        </div>
      </div>
      <!--</li>-->
      <br style="clear:both;">
    </div> <!--class="goal"-->
  {%- endfor -%} <!--for goalreport in site.data.reporting.goals-->
</div>
{% include footer.html %}
