<table class="table">
  {% for indicator_metadata in site.data.schema %}
    {%- assign metadata_label = indicator_metadata.name | translate_metadata_field -%}
    {% if indicator_metadata.field.scope == include.scope %}
      {% if site.hide_empty_metadata %}
        {% unless (page.indicator[indicator_metadata.name] and page.indicator[indicator_metadata.name] != '') or indicator_metadata.name contains '_item_a' %}
          {% continue %}
        {% endunless %}
      {% endif %}

      {% assign var = 'doShow' %}
      {% if indicator_metadata.name contains "source_organisation_" or indicator_metadata.name contains "weather" or indicator_metadata.name == "national_indicator_available" or indicator_metadata.name == "national_geographical_coverage" %}
        {% assign var = 'dontShow' %}
        {% if indicator_metadata.name contains "short" or indicator_metadata.name contains "_logo" %}
          {% assign var = 'doShow' %}
        {% endif %}
      {% endif %}

      {% unless var == 'dontShow' or indicator_metadata.name contains "_url_text" or indicator_metadata.name contains "_link_text" %}
        {% if indicator_metadata.field.scope != 'content' %}
          <tr id="everythingElse">
            <th scope="row">{{ metadata_label }} </th>
            <td>
              {% if indicator_metadata.name contains "_url" or indicator_metadata.name contains "_link" %}
                {% assign url_text_name = indicator_metadata.name | replace_first:'_url','_url_text'  %}
                {% assign url_text_name = url_text_name | replace_first:'_link','_link_text'  %}
                {% assign url_text = page.indicator[url_text_name] %}
                {% unless url_text %}
                  {% assign url_text = 'Link' %}
                {% endunless %}

                {% if page.indicator[indicator_metadata.name] contains "http" or page.indicator[indicator_metadata.name] contains "mailto" %}
                  <a href="{{ page.indicator[indicator_metadata.name] }}" target="_blank">
                    {{ url_text }} <span class="visuallyhidden">{{ page.t.general.opens_new_window }}</span>
                  </a>
                {% endif %}

              {% elsif indicator_metadata.field.element == 'multiselect' %}
                {% for item in page.indicator[indicator_metadata.name] %}
                  {{ item | t }}{% unless forloop.last %}, {% endunless %}
                {% endfor %}
              {% else %}
                {{ page.indicator[indicator_metadata.name] | markdownify }}
              {% endif %}
            </td>
          </tr>
        {% else %} <!-- case: content -->
          <p> {{ page.indicator[indicator_metadata.name] | markdownify }} </p>
        {% endif %}
      {% endunless %}

      {% if indicator_metadata.name contains "weather_indicator" or indicator_metadata.name contains "_target" %}
        {% unless indicator_metadata.name contains "_year" or indicator_metadata.name contains "_item_" %}
          {% unless indicator_metadata.name contains '_target_' %}
            <tr id="indAndtarg">
              <th scope="row">{{ page.t.metadata_fields[indicator_metadata.name] }} </th>
              <td colspan="9">
                {{ page.indicator[indicator_metadata.name] | markdownify }}
              </td>
            </tr>
          {% endunless %}
        {% endunless %}
      {% endif %}

      {% if indicator_metadata.name contains "year_a" %}
        {% unless indicator_metadata.name contains "target_2" or indicator_metadata.name contains "target_3" or indicator_metadata.name contains "target_4" or indicator_metadata.name contains "_old" %}
          {% assign year_b = indicator_metadata.name | replace: '_a', '_b' %}
          {% assign year_c = indicator_metadata.name | replace: '_a', '_c' %}
          {% assign year_d = indicator_metadata.name | replace: '_a', '_d' %}
          <tr id="years">
            <th scope="row">{{ page.t.metadata_fields[indicator_metadata.name] }} </th>
            {% if page.indicator[year_d] %}
              <td align="left" style="margin-bottom: 15px;">
                <p>{{ page.indicator[year_d] | markdownify }}</p>
              </td>
            {% endif %}
            {% if page.indicator[year_c] %}
              <td align="left" style="margin-bottom: 15px;">
                <p>{{ page.indicator[year_c] | markdownify }}</p>
              </td>
            {% endif %}
            {% if page.indicator[year_b] %}
              <td align="left" style="margin-bottom: 15px;">
                <p>{{ page.indicator[year_b] | markdownify }}</p>
              </td>
            {% endif %}
            <td align="left" style="margin-bottom: 15px;">
              <p>{{ page.indicator[indicator_metadata.name] | markdownify }}</p>
            </td>
          </tr>
        {% endunless %}
      {% elsif indicator_metadata.name contains "item_a" %}
        {% if indicator_metadata.name contains "_target_1" %} <!--Multiple targets-->
          {% assign item_a = '' %}
          {% assign item_b = '' %}
          {% assign item_c = '' %}
          {% assign item_d = '' %}
          {% for target in (1..4) %}
            {% assign target_year_key = indicator_metadata.name | replace: '1_item_a', '' | append: target | append: '_year' %} <!--weather_indicator_(1...3)_target_(1...4)_year-->
            {% assign test_new_key = target_year_key | replace: '_year', '_new_year' %}
            {% if page.indicator[test_new_key] %}
              {% assign target_year_key = test_new_key %}
            {% endif %}
            {% if page.indicator[target_year_key] %}
              {% assign year_a_key = target_year_key | append: '_a' %} <!--weather_indicator_(1...3)_target_(1...4)_year_a-->
              {% assign year_b_key = target_year_key | append: '_b' %} <!--weather_indicator_(1...3)_target_(1...4)_year_b-->
              {% assign year_c_key = target_year_key | append: '_c' %} <!--weather_indicator_(1...3)_target_(1...4)_year_c-->
              {% assign year_d_key = target_year_key | append: '_d' %} <!--weather_indicator_(1...3)_target_(1...4)_year_d-->
              {% if item_a == '' and page.indicator[year_a_key] <= page.indicator[target_year_key] %}
                {% assign item_a = year_a_key | replace: 'year', 'item' %}
              {% endif %}
              {% if item_b == '' and page.indicator[year_b_key] <= page.indicator[target_year_key] %}
                {% assign item_b = year_b_key | replace: 'year', 'item' %}
              {% endif %}
              {% if item_c == '' and page.indicator[year_c_key] <= page.indicator[target_year_key] %}
                {% assign item_c = year_c_key | replace: 'year', 'item' %}
              {% endif %}
              {% if item_d == '' and page.indicator[year_d_key] <= page.indicator[target_year_key] %}
                {% assign item_d = year_d_key | replace: 'year', 'item' %}
              {% endif %}
            {% endif %}
          {% endfor %}
        {% else %} <!--Single target-->
          {% unless indicator_metadata.name contains "_target_" or indicator_metadata.name contains "_old"%}
            {% assign item_a = indicator_metadata.name %}
            {% assign item_b = indicator_metadata.name | replace: '_a', '_b' %}
            {% assign item_c = indicator_metadata.name | replace: '_a', '_c' %}
            {% assign item_d = indicator_metadata.name | replace: '_a', '_d' %}
          {% endunless %}
        {% endif %}
        {% unless indicator_metadata.name contains "_target_2" or indicator_metadata.name contains "_target_3" or indicator_metadata.name contains "_target_4" or indicator_metadata.name contains "_old" %}
          <tr id="items">
            <th scope="row">{{ page.t.metadata_fields[indicator_metadata.name] }} </th>
            {% if page.indicator[item_d] %}
              <td align="left" style="padding-left: 0px;padding-right: 0px;">
                <a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/left/{{  page.indicator[item_d] }}.png" alt="{{  page.indicator[item_d] | markdownify }}" class="responsiveWeather" title="x" style="border: transparent"/></a>
              </td>
            {% endif %}
            {% if page.indicator[item_c] %}
              <td align="left" style="padding-left: 0px;padding-right: 0px;">
                <a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/left/{{  page.indicator[item_c] }}.png" alt="{{  page.indicator[item_c] | markdownify }}" class="responsiveWeather" title="x" style="border: transparent"/></a>
              </td>
            {% endif %}
            {% if page.indicator[item_b] %}
              <td align="left" style="padding-left: 0px;padding-right: 0px;">
                <a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/left/{{  page.indicator[item_b] }}.png" alt="{{  page.indicator[item_b] | markdownify }}" class="responsiveWeather" title="x" style="border: transparent"/></a>
              </td>
            {% endif %}
            <td align="left" style="padding-left: 0px;padding-right: 0px;">
              <a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/left/{{ page.indicator[item_a] }}.png" alt="{{ page.indicator[item_a] | markdownify }}" class="responsiveWeather" title="x" style="border: transparent"/></a>
            </td>
          </tr>
        {% endunless %}
      {% endif %}

    {% endif %}
  {% endfor %}
</table>
