<table class="table">
  {% for indicator_metadata in site.data.schema %}
    {%- assign metadata_label = indicator_metadata.name | translate_metadata_field -%}
    {% if indicator_metadata.field.scope == include.scope %}
      {% if site.hide_empty_metadata %}
        {% unless page.indicator[indicator_metadata.name] and (page.indicator[indicator_metadata.name] != '' or indicator_metadata.name contains '_item_a') %}
          {% continue %}
        {% endunless %}
      {% endif %}

      {% assign var = 'doShow' %}
      {% if indicator_metadata.name contains "source_organisation_" or indicator_metadata.name contains "weather" or indicator_metadata.name == "national_indicator_available" or indicator_metadata.name == "national_geographical_coverage" %}
        {% assign var = 'dontShow' %}
        {% if indicator_metadata.name contains "short" or indicator_metadata.name contains "_logo" %}
          {% assign var = 'doShow' %}
        {% endif %}
      {% endif %}



      {% unless var == 'dontShow' or indicator_metadata.name contains "_url_text" or indicator_metadata.name contains "_link_text" %}
        <tr>
          <th scope="row">{{ metadata_label }} </th>
          <td>
            {% if indicator_metadata.name contains "_url" or indicator_metadata.name contains "_link" %}
              {% assign url_text_name = indicator_metadata.name | replace_first:'_url','_url_text'  %}
              {% assign url_text_name = url_text_name | replace_first:'_link','_link_text'  %}
              {% assign url_text = page.indicator[url_text_name] %}
              {% unless url_text %}
                {% assign url_text = 'Link' %}
              {% endunless %}

              {% if page.indicator[indicator_metadata.name] contains "http" or page.indicator[indicator_metadata.name] contains "mailto" %}
                <a href="{{ page.indicator[indicator_metadata.name] }}" target="_blank">
                  {{ url_text }} <span class="visuallyhidden">{{ page.t.general.opens_new_window }}</span>
                </a>
              {% endif %}

            {% elsif indicator_metadata.field.element == 'multiselect' %}
              {% for item in page.indicator[indicator_metadata.name] %}
                {{ item | t }}{% unless forloop.last %}, {% endunless %}
              {% endfor %}
            {% else %}
              {{ page.indicator[indicator_metadata.name] | markdownify }}
            {% endif %}
          </td>
        </tr>
      {% endunless %}

      {% if indicator_metadata.name contains "weather_indicator" or indicator_metadata.name contains "_target" %}
        {% unless indicator_metadata.name contains "_year" or indicator_metadata.name contains "_item_" %}
          {% unless indicator_metadata.name contains '_target_' %}
            <tr>
              <th scope="row">{{ page.t.metadata_fields[metadata_label] }} </th>
              <td colspan="9">
                {{ page.indicator[indicator_metadata.name] | markdownify }}
              </td>
            </tr>
          {% endunless %}
        {% endunless %}
      {% endif %}

      {% if indicator_metadata.name contains "year_a" %}
        {% assign year_b = indicator_metadata.name | replace: '_a', '_b' %}
        {% assign year_c = indicator_metadata.name | replace: '_a', '_c' %}
        {% assign year_d = indicator_metadata.name | replace: '_a', '_d' %}
        <tr>
          <th scope="row">{{ metadata_label }} </th>
          {% if page.indicator[year_d] %}
            <td align="left" style="margin-bottom: 15px;">
              <p>{{ page.indicator[year_d] | markdownify }}</p>
            </td>
          {% endif %}
          {% if page.indicator[year_c] %}
            <td align="left" style="margin-bottom: 15px;">
              <p>{{ page.indicator[year_c] | markdownify }}</p>
            </td>
          {% endif %}
          {% if page.indicator[year_b] %}
            <td align="left" style="margin-bottom: 15px;">
              <p>{{ page.indicator[year_b] | markdownify }}</p>
            </td>
          {% endif %}
          <td align="left" style="margin-bottom: 15px;">
            <p>{{ page.indicator[indicator_metadata.name] | markdownify }}</p>
          </td>
        </tr>
      {% elsif indicator_metadata.name contains "item_a"%}
        {% assign year_b = indicator_metadata.name | replace: '_a', '_b' %}
        {% assign year_c = indicator_metadata.name | replace: '_a', '_c' %}
        {% assign year_d = indicator_metadata.name | replace: '_a', '_d' %}
        <tr>
          <th scope="row">{{ metadata_label }} </th>
          {% if page.indicator[year_d] %}
            <td align="left" style="padding-left: 0px;padding-right: 0px;">
              <a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/left/{{  page.indicator[year_d] }}.png" alt="{{  page.indicator[year_d] | markdownify }}" class="responsiveWeather" title="x" style="border: transparent"/></a>
            </td>
          {% endif %}
          {% if page.indicator[year_c] %}
            <td align="left" style="padding-left: 0px;padding-right: 0px;">
              <a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/left/{{  page.indicator[year_c] }}.png" alt="{{  page.indicator[year_c] | markdownify }}" class="responsiveWeather" title="x" style="border: transparent"/></a>
            </td>
          {% endif %}
          {% if page.indicator[year_b] %}
            <td align="left" style="padding-left: 0px;padding-right: 0px;">
              <a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/left/{{  page.indicator[year_b] }}.png" alt="{{  page.indicator[year_b] | markdownify }}" class="responsiveWeather" title="x" style="border: transparent"/></a>
            </td>
          {% endif %}
          <td align="left" style="padding-left: 0px;padding-right: 0px;">
            <a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/left/{{ page.indicator[indicator_metadata.name] }}.png" alt="{{ page.indicator[indicator_metadata.name] | markdownify }}" class="responsiveWeather" title="x" style="border: transparent"/></a>
          </td>
        </tr>

      {% endif %}

    {% endif %}
  {% endfor %}
</table>
